// Copyright 2022 Indoc Research
// 
// Licensed under the EUPL, Version 1.2 or – as soon they
// will be approved by the European Commission - subsequent
// versions of the EUPL (the "Licence");
// You may not use this work except in compliance with the
// Licence.
// You may obtain a copy of the Licence at:
// 
// https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
// 
// Unless required by applicable law or agreed to in
// writing, software distributed under the Licence is
// distributed on an "AS IS" basis,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
// express or implied.
// See the Licence for the specific language governing
// permissions and limitations under the Licence.
// 

astroid==2.4.2
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
google-auth==1.20.1
gunicorn==20.0.4
idna==2.10
isort==4.3.21
kubernetes==11.0.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.5.3
python-dateutil==2.8.1
python-json-logger==0.1.11
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
toml==0.10.1
urllib3==1.25.10
websocket-client==0.57.0
wrapt==1.12.1
minio==7.0.3
xmltodict==0.12.0
python-dotenv==0.19.1
pydantic==1.8.2
python-dotenv==0.19.1
opentelemetry-exporter-jaeger==1.6.2
opentelemetry-instrumentation==0.26b1
opentelemetry-instrumentation-requests==0.26b1
opentelemetry-instrumentation-logging==0.26b1
opentelemetry-instrumentation-redis==0.26b1

